.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 21px;
    height: 26vh;
    width: 100%;
    z-index: 7;
    text-align: justify;
    font-size: 11px;
    color: darkgray;
}