.headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 14vh;
    padding: 0 49px;
    z-index: 7;
    top: 0;
    left: 0;
    background-color: #3c81b8;
    position: relative;
}
.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.mobileLogo {
    display: none;
}

.desktopLogo {
    display: block;
}
.mainMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    transition: all .3s cubic-bezier(.165,.85,.45,1);
    -moz-transition: all .3s cubic-bezier(.165,.85,.45,1);
    -webkit-transition: all .3s cubic-bezier(.165,.85,.45,1);
    -o-transition: all .3s cubic-bezier(.165,.85,.45,1);
}
.menuLink {
    margin-right: 28px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 1px;
}
.socials {
    display: flex;
    flex-direction: row;
}
.socialIcon {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.svg {
    width: 50%;
    height: 50%;
}
.mobileMenuBtn {
    padding: 20px;
    position: relative;
    width: 64px;
    height: 64px;
    line-height: 62px;
    display: none;
    /* border: 2px solid rgba(255, 255, 255,.7);
    border-radius: 64px;
    -moz-border-radius: 64px;
    -webkit-border-radius: 64px;
    -khtml-border-radius: 64px; */
}
.mobileMenuBtn::before, .mobileMenuBtn::after {
    content: '';
    position: absolute;
    top: 22px;
    left: 20px;
    right: 20px;
    height: 2px;
    background: #ffffff;
    transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}
.mobileMenuBtn::after {
    top: auto;
    bottom: 22px;
}
.mobileMenuSpan {
    position: absolute;
    top: 50%;
    left: 25px;
    right: 25px;
    height: 2px;
    background: #fff;
    margin-top: -1px;
    transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}
.flagSelector {
    position: relative;
}
.flags {
    display: flex;
    position: absolute;
    top: 100%;
    flex-direction: column;
    z-index: 42;
    right: 0%;
    opacity: 0;
    transform: scale(0);
    transform-origin: 100% -100%;
    min-width: 300px;
    height: 86vh;
    padding: 0px calc(5% + 20px) 14px 14px;
    background-color: #3c81b8;
    transition: all .3s cubic-bezier(.165,.85,.45,1);
    -moz-transition: all .3s cubic-bezier(.165,.85,.45,1);
    -webkit-transition: all .3s cubic-bezier(.165,.85,.45,1);
    -o-transition: all .3s cubic-bezier(.165,.85,.45,1);
}
.flagsUl {
    list-style: none;
    font-family: "Inter", sans-serif;
    background-color: #fafafa;
    box-shadow: rgba(35, 55, 80, 0.3) 0px 6px 12px;
}
.flagsLi {
    padding: 9px 21px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #d3d2d2;
    transition: all .3s cubic-bezier(.165,.85,.45,1);
    -moz-transition: all .3s cubic-bezier(.165,.85,.45,1);
    -webkit-transition: all .3s cubic-bezier(.165,.85,.45,1);
    -o-transition: all .3s cubic-bezier(.165,.85,.45,1);
    cursor: pointer;
    align-items: center;
}
.flagsLi:hover {
    background-color: #b1afaf;
}
.flagsLi:hover .flagName {
    color: #575656;
}
.flagName {
    font-size: 12px;
    text-transform: uppercase;
    color: #949393;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    padding-left: 28px;
}
.flagSelectBtn {
    background-color: #3c81b8;
    border-radius: 0px;
    border: 2px solid #ffffff;
    display: flex;
    padding: 4px;
    border-right: none;
    border-left: none;
    margin-right: 20px;
    cursor: pointer;
}

/*  X-Small devices (portrait phones, less than 576px) */
@media (min-width: 300px) and (max-width: 576px) { 
    .headerContainer {
        padding: 0 5%;
    }
    .mainMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        transform: scale(0);
        transform-origin: -100% -100%;
        width: 100%;
        height: 86vh;
        text-align: center;
        opacity: 0;
        transition: all .3s cubic-bezier(.165,.85,.45,1);
        -moz-transition: all .3s cubic-bezier(.165,.85,.45,1);
        -webkit-transition: all .3s cubic-bezier(.165,.85,.45,1);
        -o-transition: all .3s cubic-bezier(.165,.85,.45,1);
        z-index: 200;
        background: #3c81b8;
        padding: 20px;
    }
    .menuLinkWrapper {
        padding-bottom: 14px;
    }
    .menuLink {
        margin: 0px;
    }
    .mobileMenuBtn {
        display: block;
    }
    .mobileLogo {
        display: block;
    }
    .desktopLogo {
        display: none;
    }
  }
  
  /* // Small devices (landscape phones, less than 768px) */
  @media (min-width: 577px) and (max-width: 767.98px) { 
    .mainMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 10%;
        left: 0;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        height: 90%;
        text-align: center;
        opacity: 0;
        transform: scale(0);
        transform-origin: -100% -100%;
        transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        z-index: 200;
        background: #3c81b8;
        padding: 100px;
    }
    .menuLinkWrapper {
        padding-bottom: 14px;
    }
    .menuLink {
        margin: 0px;
    }
    .mobileMenuBtn {
        display: block;
    }
  }
  
  /* // Medium devices (tablets, less than 992px) */
  @media (min-width: 767.99px) and (max-width: 991.98px) { 
    .mainMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 10%;
        left: 0;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        height: 90%;
        text-align: center;
        opacity: 0;
        transform: scale(0);
        transform-origin: -100% -100%;
        transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        z-index: 200;
        background: #3c81b8;
        padding: 100px;
    }
    .menuLinkWrapper {
        padding-bottom: 14px;
    }
    .menuLink {
        margin: 0px;
    }
    .mobileMenuBtn {
        display: block;
    }
  }
  
  /* // Large devices (desktops, less than 1200px) */
  @media (min-width: 991.99px) and (max-width: 1199.98px) { 
    
   }