.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
/* .mainContainer::after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background: -moz-radial-gradient(center,ellipse cover,rgba(0,0,0,.1) 0,#ffffff 99%);
    background: -webkit-radial-gradient(center,ellipse cover,rgba(0,0,0,.1) 0,#ffffff 99%);
    background: -webkit-radial-gradient(center,ellipse,rgba(0,0,0,.1) 0,#ffffff 99%);
    background: -moz-radial-gradient(center,ellipse,rgba(0,0,0,.1) 0,#ffffff 99%);
    background: radial-gradient(ellipse at center,rgba(0,0,0,.1) 0,#ffffff 99%);
} */
.formContentWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    padding: 21px;
    width: 70%;
    height: fit-content;
    background-color: #ffffff;
    box-shadow: rgba(35, 55, 80, 0.3) 0px 6px 12px;
}
.formContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.resultsWrapper {
    background-color: white;
    height: 100%;
    width: 80%;
}
.table {
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid #3c81b8;
    border-bottom: 2px solid #3c81b8;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
        0px 10px 20px rgba(0,0,0,0.05),
        0px 20px 20px rgba(0,0,0,0.05),
        0px 30px 20px rgba(0,0,0,0.05);
}
.th {
    background: #3c81b8;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    border: 1px solid #eee;
    padding: 12px 25px;
    border-collapse: collapse;
}
.td {
    color: #999;
    font-size: 16px;
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
}
.title {
    font-weight: 700;
    padding-bottom: 21px;
    color: rgb(20, 30, 55);
}
.form {
    display: flex;
    flex-wrap: wrap;
    margin-right: 28px;
    width: 20%;
}
.formFirstRow {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.firstRowFormGroup {
    position: relative;
    padding: 8px;
    margin-bottom: 0;
}

.label {
    padding: 0 10px;
    position: absolute;
    left: 35px;
    top: 3px;
    font-size: 12px;
    line-height: 12px;
    color: rgb(20, 30, 55);
    background: #ffffff;
        background-color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    z-index: 2;
}
.strong {
    font-weight: 700;
    color: #049931;
}
.para {
    margin: 0;
}
.span {
    color: rgb(20, 30, 55);
    position: relative;
    font-size: 14px;
}
.inputText {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 30px;
    display: block;
    font-family: "Poppins";
    font-size: 16px;
    height: 60px;
    width: 100%;
    color: #999;
    background: 0 0 !important;
    border: 1px solid #3c81b8;
    resize: none;
    outline: 0;
    transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}
.inputSelect {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 30px;
        padding-right: 1.5rem;
    display: block;
    font-family: "Poppins";
    font-size: 16px;
    height: 60px;
    width: 100%;
    color: #999;
    background-image: url('../public/selectDropDown.svg');
    background-origin: content-box;
    background-position: right -1rem center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 9px 6px;
    cursor: pointer;
    border: 1px solid #3c81b8;
    resize: none;
    outline: 0;
    transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}

/*  X-Small devices (portrait phones, less than 576px) */
@media (min-width: 300px) and (max-width: 576px) { 
    .formContentWrapper {
        width: 90%;
    }
    .formContent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form {
        display: flex;
        margin-right: 0px;
        width: 100%;
    }
    .formFirstRow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 13px 0px 28px;
    }
    .table {
        min-width: 550px;
        overflow-x: scroll;
        
    }
    .resultsWrapper {
        width: 100%;
        overflow-x: scroll;
    }
  }
  
  /* // Small devices (landscape phones, less than 768px) */
  @media (min-width: 577px) and (max-width: 767.98px) { 
    .formContentWrapper {
        width: 90%;
    }
    .formContent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form {
        display: flex;
        margin-right: 0px;
        width: 100%;
    }
    .formFirstRow {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 13px 0px 28px;
    }
    .table {
        min-width: 550px;
        overflow-x: scroll;
        
    }
    .resultsWrapper {
        width: 100%;
        overflow-x: scroll;
    }
  }
  
  /* // Medium devices (tablets, less than 992px) */
  @media (min-width: 767.99px) and (max-width: 991.98px) { 
    .formContentWrapper {
        width: 90%;
    }
    .formContent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form {
        display: flex;
        margin-right: 0px;
        width: 100%;
    }
    .formFirstRow {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 13px 0px 28px;
    }
    .resultsWrapper {
        width: 100%;
        max-width: 650px;
        overflow-x: scroll;
    }
  }
  
  /* // Large devices (desktops, less than 1200px) */
  @media (min-width: 991.99px) and (max-width: 1199.98px) { 
    .formContent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form {
        display: flex;
        margin-right: 0px;
        width: 100%;
    }
    .formFirstRow {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 13px 0px 28px;
    }
    .resultsWrapper {
        width: 100%;
    }
   }
  